<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841707704604-vjud58r99ucstl57olei8eiucmura68g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841707704604-vjud58r99ucstl57olei8eiucmura68g</string>
	<key>API_KEY</key>
	<string>AIzaSyAK2_gY3-407NTGOAvBxqsOJQC2wNIj25c</string>
	<key>GCM_SENDER_ID</key>
	<string>841707704604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-69e18</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-69e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841707704604:ios:60aa3e3a8d0f9ca4b52ad9</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-app-69e18-default-rtdb.firebaseio.com</string>
</dict>
</plist>